body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav {
    margin-top: 1rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 1rem;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
  }
  
  #product-list
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

  }
  .product 
  {
    flex: 1 0 300px; /* Flex grow, flex shrink, flex basis */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
  }